body {
	font-family: monospace;
}

div#title {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

canvas#tetris {
	display: block;
	margin: 0 auto;
}

div.sideContent {
	position: absolute;
	top: 37px;
}

div.sideContent.left {
	left: calc(50vw - 200px);
}

div.sideContent.right {
	left: calc(50vw + 120px);
}

div.sideBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.sideBlock > div.label {
	font-weight: bold;
	font-size: 1.2rem;
}

div.sideBlock > div.label::after {
	content: ':';
}

div.sideBlock > div.content {
	font-size: 1.1rem;
}
